<a href="https://colab.research.google.com/github/tranbuituanngoc/ML/blob/main/Lab_3_20130337_TranBuiTuanNgoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Deadline: 23:59, 04/03/2023**

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn â€“ a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML'

Mounted at /content/gdrive
/content/gdrive/MyDrive/ML

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [3]:
df=pd.read_csv("preprocessing_weather.csv")
imputer = SimpleImputer(missing_values = np.nan,strategy ='median')
x= df.iloc[:,2:4].values
imputer.fit(x)
x=imputer.transform(x)
df["temperature"]=x[:,0:1]
df["humidity"]=x[:,1:2]
df

    id   outlook  temperature  humidity  windy play
0    1     sunny         85.0      85.0  False   no
1    2     sunny         80.0      90.0   True   no
2    3  overcast         83.0      86.0  False  yes
3    4     rainy         72.0      96.0  False  yes
4    5     rainy         68.0      80.0  False  yes
5    6     rainy         65.0      70.0   True   no
6    7  overcast         64.0      65.0   True  yes
7    8     sunny         72.0      95.0  False   no
8    9     sunny         69.0      85.0  False  yes
9   10     rainy         75.0      80.0  False  yes
10  11     sunny         75.0      70.0   True  yes
11  12  overcast         72.0      90.0   True  yes
12  13  overcast         81.0      75.0  False  yes
13  14     rainy         71.0      91.0   True   no

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/ML

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [6]:
data=pd.read_csv("preprocessing_salary_dummy.csv")
imputer = SimpleImputer(missing_values = np.nan,strategy ='median')
# x= data.iloc[:,2:4]
# x1= data.iloc[:,2]
# x2= data.iloc[:,3]
x= data.iloc[:,2:4].values
# x[0]=x1
# x[1]=x2
imputer.fit(x)
x=imputer.transform(x)
data["Age"]=x[:,0:1]
data["Salary"]=x[:,1:2]
data
# df=pd.read_csv("preprocessing_weather.csv")
# imputer = SimpleImputer(missing_values = np.nan,strategy ='median')
# x= df.iloc[:,2:4].values
# imputer.fit(x)
# x=imputer.transform(x)
# df["temperature"]=x[:,0:1]
# df["humidity"]=x[:,1:2]
# df

   No    Country   Age     Salary  Purchased   Age   Salary
0   1     France  44.0     72000.0        No  44.0  72000.0
1   2      Spain  27.0     48000.0       Yes  27.0  48000.0
2   3    Germany  30.0     54000.0        No  30.0  54000.0
3   4      Spain  38.0     61000.0        No  38.0  61000.0
4   5    Germany  40.0         NaN       Yes  40.0  61000.0
5   6     France  35.0     58000.0       Yes  35.0  58000.0
6   7      Spain   NaN     52000.0        No  38.0  52000.0
7   8     France  48.0     79000.0       Yes  48.0  79000.0
8   9    Germany  50.0     83000.0        No  50.0  83000.0
9  10     France  37.0     67000.0       Yes  37.0  67000.0

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, â€¦,
-- W0: `regressor.intercept_`
-- w1, w2, â€¦: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
data= pd.read_csv('dataset1.csv')
X_train= data[['x']]
Y_train = data[['y']]
X_train

   x
0  1
1  2
2  4
3  3
4  5

In [9]:
regressor= LinearRegression()
regressor.fit(X_train,Y_train)
print(regressor.intercept_)
print(regressor.coef_)

[0.4]
[[0.8]]

In [10]:
y_pred= regressor.predict(X_train)
y_pred

array([[1.2],
       [2. ],
       [3.6],
       [2.8],
       [4.4]])

# Task 2.2. dataset2.csv

In [16]:
from sklearn.linear_model import LinearRegression
data= pd.read_csv('dataset2.csv')
X1= data[['x1']]
X2= data[['x2']]
X3= data[['x3']]
Y = data[['y']]
X1

          x1
0    2.41710
1    1.98150
2    1.82850
3    1.50480
4    0.27489
..       ...
594  1.64550
595 -1.16320
596 -1.61920
597 -0.34407
598 -0.12172

[599 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split
X1_train, X1_test,X2_train, X2_test,X3_train, X3_test, y_train, y_test = train_test_split(X1, X2, X3, Y, test_size=0.3, train_size=0.7,  random_state = 1)
# X1_train
# X1_test
regressor= LinearRegression()
regressor.fit(X1_train, y_train)
y1_pred= regressor.predict(X1_test)
y1_pred

array([[ 7.40377216e+00],
       [ 1.07855054e+01],
       [ 7.99514273e+00],
       [-4.19168599e+00],
       [-3.66200176e+00],
       [ 8.45684610e+00],
       [-2.17082893e+00],
       [ 7.01728836e+00],
       [ 3.47998280e+00],
       [ 1.03776202e+01],
       [ 9.68805507e+00],
       [ 8.04801673e+00],
       [ 1.12270663e+01],
       [-1.78371568e+00],
       [-5.53765606e-01],
       [ 9.03279508e+00],
       [-1.85043764e+00],
       [ 8.81374563e+00],
       [ 5.15936506e+00],
       [ 3.15588089e+00],
       [-2.84875433e-02],
       [-3.48921707e+00],
       [ 8.14495241e+00],
       [ 1.11071556e+01],
       [-2.57367849e+00],
       [ 9.93196789e+00],
       [ 3.03414478e+00],
       [ 3.59535514e+00],
       [ 7.72258982e+00],
       [ 4.81083725e+00],
       [-4.18759455e+00],
       [ 6.10543208e+00],
       [ 1.07170091e+00],
       [ 1.05245974e+01],
       [ 3.31920491e+00],
       [-2.08825668e-01],
       [ 6.00821315e+00],
       [ 3.25999232e+00],
       [ 7.59071954e+00],
       [-2.49184967e+00],
       [-2.41096503e+00],
       [ 4.73563724e-01],
       [ 1.13142455e+01],
       [ 7.02956268e+00],
       [ 6.90221254e-01],
       [-9.94067589e-01],
       [ 3.85593586e+00],
       [ 2.37724822e+00],
       [ 8.24629425e+00],
       [ 3.59930495e+00],
       [ 5.83734829e+00],
       [ 1.06004464e+01],
       [-3.85996456e+00],
       [-2.41757429e+00],
       [ 8.09994656e+00],
       [ 1.19862999e+00],
       [ 8.46923440e-01],
       [ 7.60928838e+00],
       [ 1.53985616e+00],
       [ 3.97152536e+00],
       [ 8.31207203e+00],
       [ 1.06372694e+01],
       [-3.04576782e+00],
       [ 2.03150955e-01],
       [ 7.46545850e+00],
       [ 1.01519615e+01],
       [ 1.08446739e+01],
       [ 8.70464961e-01],
       [ 6.27994777e+00],
       [-2.45408253e+00],
       [-3.13609425e+00],
       [ 8.61420921e+00],
       [-1.99804423e+00],
       [ 1.01884698e+01],
       [ 3.23519189e+00],
       [ 8.19877059e+00],
       [ 1.69475250e-01],
       [ 7.18283435e+00],
       [ 6.30219892e+00],
       [ 7.50479928e+00],
       [ 1.07068238e+01],
       [-2.79430157e+00],
       [ 1.03858031e+01],
       [-4.12779657e+00],
       [ 5.80087152e+00],
       [ 2.02163906e+00],
       [ 6.84293004e+00],
       [-1.64429196e+00],
       [ 6.44303890e+00],
       [ 6.52779467e+00],
       [ 5.92521985e+00],
       [-6.17025576e-01],
       [ 4.48157067e+00],
       [ 6.37315777e-01],
       [ 8.35581898e+00],
       [ 5.99990438e+00],
       [ 7.28542998e-02],
       [ 2.46845587e+00],
       [ 1.05296330e+01],
       [-1.75916703e+00],
       [ 7.47773282e+00],
       [ 6.85174237e+00],
       [ 2.73647672e+00],
       [ 8.79863877e+00],
       [ 8.74072915e+00],
       [-2.07252037e-01],
       [ 8.96481422e+00],
       [ 3.99248613e+00],
       [-5.27013877e-01],
       [ 1.11228919e+01],
       [-3.20061312e+00],
       [ 5.59950968e+00],
       [ 3.46926952e+00],
       [ 2.44380090e-01],
       [ 8.80933946e+00],
       [ 2.34316337e+00],
       [ 1.90135070e+00],
       [ 3.55989494e+00],
       [-2.61384947e-01],
       [ 3.29980496e-03],
       [-1.86794832e-01],
       [ 8.02504172e+00],
       [-1.35631747e+00],
       [-2.12802616e+00],
       [-2.60861310e+00],
       [ 2.02192231e+00],
       [ 3.61166425e+00],
       [-3.13168808e+00],
       [-1.37299796e+00],
       [ 6.79603583e+00],
       [ 3.39801550e+00],
       [ 3.24469663e+00],
       [ 3.85510498e+00],
       [ 5.27713561e+00],
       [ 3.15358338e+00],
       [ 9.25184453e+00],
       [ 1.88611795e+00],
       [-2.62875558e+00],
       [-4.17406132e+00],
       [ 4.43287062e-01],
       [ 8.36148405e+00],
       [ 7.80032720e+00],
       [-3.50767193e-01],
       [ 3.90413057e-01],
       [ 3.03137519e+00],
       [ 6.28064017e+00],
       [ 6.91563179e+00],
       [ 9.02177966e+00],
       [ 9.94676002e+00],
       [-4.13251746e+00],
       [ 4.26405826e-02],
       [ 3.26550003e+00],
       [ 4.12542648e+00],
       [ 4.48496972e+00],
       [ 1.29505019e-01],
       [-4.77916587e-01],
       [ 4.92999259e+00],
       [-4.06988694e+00],
       [ 7.37450262e+00],
       [ 7.49158078e+00],
       [-1.83060988e+00],
       [ 8.87448779e+00],
       [ 1.07568653e+01],
       [ 1.11521615e+01],
       [ 7.26843989e+00],
       [ 9.58399467e-01],
       [ 6.77569260e-01],
       [-3.27205597e+00],
       [ 1.00565995e+01],
       [-2.74048339e+00],
       [ 3.49488194e+00],
       [ 3.72662745e+00],
       [-2.12865561e+00],
       [ 1.07612715e+01],
       [ 4.85628371e+00],
       [ 4.71612421e-01],
       [ 4.95897888e+00],
       [-2.30899374e+00],
       [-2.27405913e+00],
       [ 1.02120742e+01]])

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [12]:
#code

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [13]:
#code

# Finally,
Save a copy in your Github. Remember renaming the notebook.